body{
    background-color: rgb(50, 44, 44);
}
h1{
    text-align: center;
    font-size: 70px;
    color: rgb(98, 161, 98);
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(98, 161, 98);

}
.pp{
    display: flex;
    padding-left:500px;
    gap: 10px;
}
